{% extends 'cp_base.html' %}
{% load cp_tags %}

{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/admin_table.css">
<script>
    var ajax_loader_img_path = '{{ MEDIA_URL }}img/icons/ajax-loader.gif';
    var caller = 'groups';
</script>
<script>
    $(document).ready(function() {
        $('#exportItemsForm').ajaxForm(function() {
            setTimeout("window.location.reload();", 2500);
        });   
    });

    sendOrders = function(direction_id){
        jQuery('#selectedItemsForm').html('');
        jQuery("#direction_"+direction_id+" input:checked").each(function(){
           var id = this.id.split('_')[1];
           if (id) jQuery('#selectedItemsForm').append('<input type="hidden" name="items" value="'+ id +'">')
        });
        jQuery('#selectedItemsForm').submit();
    }
    
    exportOrders = function(direction_id){
        jQuery('#exportItemsForm').html('');
        jQuery("#direction_"+direction_id+" input:checked").each(function(){
           var id = this.id.split('_')[1];
           if (id) jQuery('#exportItemsForm').append('<input type="hidden" name="items" value="'+ id +'">')
        });
        jQuery('#exportItemsForm').submit();
    }
    
    selectGroup = function(el, brand_id, brandgroup_id, direction_id){
        if(jQuery(el).attr('checked')) jQuery("#direction_"+direction_id+" #brand_"+brand_id+" input").attr('checked', true);
        else jQuery("#direction_"+direction_id+" #brand_"+brand_id+" input").attr('checked', false);
    }
    
    selectOrder = function(el, brand_id, brandgroup_id, direction_id){
        if(jQuery(el).attr('checked') && jQuery("#direction_"+direction_id+" #brand_"+brand_id+" input[type=checkbox]").length-1 == jQuery("#direction_"+direction_id+" #brand_"+brand_id+" input:checked").length)
            jQuery("#direction_"+direction_id+" #brand_"+brand_id+" input[name=selectGroup]").attr('checked', true);
        else if (!jQuery(el).attr('checked') && jQuery("#direction_"+direction_id+" #brand_"+brand_id+" input[type=checkbox]").length != jQuery("#direction_"+direction_id+" #brand_"+brand_id+" input:checked").length)
            jQuery("#direction_"+direction_id+" #brand_"+brand_id+" input[name=selectGroup]").attr('checked', false);
    }
</script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/order_processing.js"></script>
<script>
    backend_url = '/cp/position/edit/ordered_item/';
    function hideRow(id, group_id){ if (document.getElementById('status_input_' + id).value != 'order') jQuery('#row_' + id).css('display', 'none'); }
</script>
{% endblock %}

{% block content %}
    {% if orders_by_direction %}
        {% for direction, elements in orders_by_direction.items %}
            <div id="direction_{{ direction.id }}">
                <h1>{{ direction.title }}</h1>
                {% for brandgroup, orders in elements.items %}
                    {% ordereditems_by_brandgroup direction brandgroup orders %}
                {% endfor %}
                <b><a href="javascript:void(0);" onclick="sendOrders('{{ direction.id }}');" style="color: #666; float: right; margin: 10px 0px; font-size:14px;">заказать выделенные позиции для {{ direction.title }}</a></b>
                <div style="clear: both;"></div>
            </div>
        {% endfor %}
    {% endif %}
    <form id="selectedItemsForm" style="display: none;" method="POST" action="/cp/position/change_status/"></form>
    <form id="exportItemsForm" style="display: none;" method="POST" action="/cp/export/"></form>
{% endblock %}