{% extends 'cp_base.html' %}
{% load cp_tags %}

{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/admin_table.css">
<script>
var ajax_loader_img_path = '{{ MEDIA_URL }}img/icons/ajax-loader.gif';
var caller = 'groups';
</script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/order_processing.js"></script>
<script>
function hideRow(id, group_id) {
    if (document.getElementById('status_input_' + id).value != 'order') {
        jQuery('#row_' + id).css('display', 'none'); 
    }
}
</script>
{% endblock %}

{% block content %}
<div style="font-size: 16px; margin: 0 0 10px 0"><a href="/cp/">В виде таблицы</a> | <b><a href="/cp/groups/">По группам</a></b></div>
{% if brands %}
{% for id in brands %}
{% ifequal mode "trusted_user" %}
{% ordereditems_by_brand id user %}
{% else %}
{% ordereditems_by_brand id %}
{% endifequal %}

{% endfor %}
{% endif %}
{% endblock %}