{% extends 'cp_base.html' %}
{% block page_title %}Импорт заказа из XLS - файла{% endblock %}
{% block extrahead %}
{{ block.super }}
<script type="text/javascript" src="{{ MEDIA_URL }}js/mootools.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/mootools/dynamicforms.js"></script>
<script type="text/javascript">

var current = null;

function setBrand(value) {
	document.getElementById('id_brand.'+current).value = value;
	current = null;
}
	
function showList(e)
{
	id = e.id;
	current = id.split('.')[1]
	supplier_id = jQuery(e).parents('tr').find('#id_supplier\\.'+current+' :selected').attr('value');
	if (supplier_id)
		showPopUp('/client/help/'+ supplier_id +'/brands/', 200, 600, 'brands', 1);
	else	
		showPopUp('/client/help/0/brands/', 200, 600, 'brands', 1);
}

var PageForm = Form.extend({
    initialize: function(value) {
    this.parent({{ page_template|safe }}, value);
    this.fieldset = new Element('fieldset');
    this.fieldset.setProperty('class', 'module aligned');
    this.fieldset.innerHTML = this.html;
    $('page-forms').adopt(this.fieldset);
    }
});

Window.onDomReady(function() {
    {% for page in page_data %}
    new PageForm({{ page|safe }});
    {% endfor %}
});

</script>
{% endblock %}

{% block content %}

<form action="" method="post" enctype="multipart/form-data">
    <div class="error">{{ message }}</div>
    {{ form }}
    <div class="submit-row">
        <input type="submit" name="save_order" value="Загрузить файл" />
    </div>
</form>
{% if page_data %}
    <form action="/cp/order/" method="post">
        <div id="page-forms"></div>
        <p align="right">
            <a class="add_link" href="javascript:void(0)" onclick="new PageForm();">Добавить позицию</a>
        </p>
        <div class="submit-row">
            <input type="submit" name="save_order" value="Отправить заказ" />
        </div>
    </form>
{% endif %}

{% endblock %}