{% extends 'cp_base.html' %}
{% load cp_tags %}

{% block extrahead %}
{{ block.super }}
<script>
var caller = 'index';
var brands = [
    {{ brands|safe }}
    ];
</script>

<script type="text/javascript" src="{{ MEDIA_URL }}js/order_processing.js"></script>

<script>
backend_url = '/cp/position/edit/ordered_item/';
get_brandgroup_settings_url = '/cp/get_brandgroup_settings/'
</script>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/changelists.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/forms.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/dashboard.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/qs_filter.css" />

<style type="text/css">
table td {
    padding: 1px 1px 1px 1px;
    font-size: 80%;
}
input, select {
  font-size: 90%;
}
td.center {
text-align: center;

}

td.right {
text-align: right;
}


.module {
    background: none repeat scroll 0 0 white;
    background: none repeat scroll 0 0 white;
    border: none;
    margin-bottom: 5px;
}

table {
    border: 1px solid #DDD;
}

tr.alt td {
    font-weight: 600;
}

</style>
{% endblock %}

{% block content %}
<div class="" id="changelist">
<form method="{{ filter.method }}" action="/cp/{% if items_per_page %}?items_per_page={{ items_per_page }}{% endif %}">
<a href="/cp/export_order/">Экспорт</a><br/><br/>
<input type="hidden" name="qs_filter" value="1">
<input type="submit" value="Фильтр">
<input type="submit" name="qs_filter_clear" value="Очистить">
Количество записей на странице:
<select onchange="location.href='{{ request.path }}?items_per_page=' + this.value">
<option value="20"{% ifequal items_per_page 20 %} selected {% endifequal %}>20</option>
<option value="50"{% ifequal items_per_page 50 %} selected {% endifequal %}>50</option>
<option value="100"{% ifequal items_per_page 100 %} selected {% endifequal %}>100</option>
</select>

<div class="module" id="changelist">

<table>
<thead>
<tr>{% table_header_sort headers %}</tr>
<tr{% if filter.is_set %} style="border: solid 2px green;"{% endif %}>
<td>{{ filter.form.brandgroup__direction__po__icontains }}&nbsp;{{ filter.form.ponumber }}</td>
<td>{{ filter.form.brandgroup__title__contains }}</td>
<td>{{ filter.form.area__title__contains }}</td>
<td>{{ filter.form.brand__title__contains }}</td>
<td>{{ filter.form.part_number__contains }}</td>
<td>{{ filter.form.comment_customer__contains }}</td>
<td>{{ filter.form.comment_supplier__contains }}</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>{{ filter.form.part_number_superseded__contains }}</td>
<td>{{ filter.form.manager__username__contains }}</td>
<td>{{ filter.form.client__username__contains }}</td>
<td>{{ filter.form.description_ru__contains }}</td>
<td>{{ filter.form.description_en__contains }}</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>{{ filter.form.invoice_code__contains }}</td>
<td>{{ filter.form.status }}</td>
</tr>
</thead>
<tbody>
<style>
    table td {padding:1px 5px; vertical-align: middle;}
</style>
{% for i in items %}
    <tr class="{% cycle row1,row2 %}{% if i.failed %} failure{% endif %}">

  {% table_td i 'get_po_verbose' 0 '' %}
  {% table_td i 'brandgroup' 0 '' %}
  {% table_td i 'area' 0 '' %}
  {% table_td i 'brand' 0 '' %}
  {% ifequal i.status 'superseded' %}
  {% table_td i 'part_number' 0 '' 'cross_out' %}
  {% else %}
  {% table_td i 'part_number' 0 '' %}
  {% endifequal %}
  {% table_td i 'comment_customer' 0 '' %}
  {% table_td i 'comment_supplier' 1 'editCommentSupplier' %}
  <td align="center">
  {{ i.created|date:"d.m.Y <\\b\\r\\\> H:i"|safe }}
  </td>
  {% table_td i 'quantity' 0 '' %}
  {% table_td i 'price_invoice' 1 'editPriceInvoice' %}
  {% table_td i 'total_w_ship' 0 '' %}
  {% table_td i 'part_number_superseded' 1 'editSuperseded' %}
  {% table_td i 'manager' 0 '' %}
  <td>{{ i.client }}{% if i.client_order_id %}/{{ i.client_order_id }}{% endif %}</td>
  {% table_td i 'description_ru' 1 'editDescriptionRu' %}
  {% table_td i 'description_en' 1 'editDescriptionEn' %}
  {% table_td i 'price_base' 1 'editPriceBase' %}
  {% table_td i 'weight' 1 'editWeight' %}
  {% table_td i 'delivery' 0 '' %}
  {% table_td i 'price_sale' 0 '' %}
  {% table_td i 'price_discount' 1 'editPriceDiscount' %}
    {% table_td i 'cost' 0 '' %}
    {% table_td i 'total_cost' 0 '' %}
  {% table_td i 'invoice_code' 1 'editInvoiceCode' %}
    <td class="editable">
        <select id="status_input_{{ i.id }}" onchange="editStatus({{ i.id }}, this.value)">
        {% for opt in status_options %}
            {% ifequal i.status 'order' %}
                {% ifequal opt.value 'order' %}
                <option value="{{ opt.value }}"{% ifequal opt.value i.status %} selected{% endifequal %}>
                {{ opt.option|lower }}
                </option>
                {% endifequal %}
            {% else %}
            {% ifnotequal opt.value 'order' %}
            <option value="{{ opt.value }}"{% ifequal opt.value i.status %} selected{% endifequal %}>
            {{ opt.option|lower }}
            </option>
        {% endifnotequal %}
        {% endifequal %}
        {% endfor %}
        </select>
    </td>
</tr>
{% endfor %}
{% if total_row %}
    <tr class="alt">
    <td><strong>Итого:</strong></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>{{ total_row.PRICE_IN|default:0|floatformat:3 }}</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>&nbsp;</td>
    <td>{{ total_row.WEIGHT|default:0|floatformat:3 }}</td>
    <td> {{ total_row.DELIVERY|default:0|floatformat:3 }}</td>
    <td>{{ total_row.PRICE|default:0|floatformat:3 }}</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>{{ total_row.COST|floatformat:".02f" }}</td>
    <td></td>
    <td></td>
    </tr>
{% endif %}
</tbody>
</table>

</div>

</form>

{% include "paginator.html" %}
</div>

{% endblock %}

