{% extends 'cp_base.html' %}
{% load cp_tags %}

{% block extrahead %}
{{ block.super }}
<script>
var caller = 'index';
var brands = [
	{{ brands|safe }}
	];
</script>

<script type="text/javascript" src="{{ MEDIA_URL }}js/order_processing.js"></script>
<script>
backend_url = '/cp/position/edit/ordered_item/';
</script>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/changelists.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/forms.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/dashboard.css" />


{% endblock %}

{% block content %}

<form method="{{ filter.method }}">
<input type="hidden" name="qs_filter" value="1">
<input type="submit" value="Фильтр">
<input type="submit" name="qs_filter_clear" value="Очистить">
Количество записей на странице: 
<select onchange="location.href='{{ request.path }}?items_per_page=' + this.value">
<option value="20"{% ifequal items_per_page 20 %} selected {% endifequal %}>20</option>
<option value="50"{% ifequal items_per_page 50 %} selected {% endifequal %}>50</option>
<option value="100"{% ifequal items_per_page 100 %} selected {% endifequal %}>100</option>
</select>

<div class="module" id="changelist">

<table>
<thead style="border: solid 2px green;">
<tr>{% table_header_sort headers %}</tr>
<tr{% if filter.is_set %} style="border: solid 2px green;"{% endif %}>
<td>{{ filter.form.ponumber }}</td>
<td>{{ filter.form.supplier__title__contains }}</td>
<td>{{ filter.form.brand__name__contains }}</td>
<td>{{ filter.form.part_number__contains }}</td>
<td>{{ filter.form.comment_customer__contains }}</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>{{ filter.form.part_number_superseded__contains }}</td>
<td>{{ filter.form.manager__username__contains }}</td>
<td>{{ filter.form.client__username__contains }}</td>
<td>{{ filter.form.description_ru__contains }}</td>
<td>{{ filter.form.description_en__contains }}</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
</thead>
<tbody>
{% for i in items %}
	<tr>
		<td>{{ i.get_po_verbose }}</td>
		<td>{{ i.supplier }}</td>
		<td>{{ i.brand }}</td>
		<td class="editable" onclick="editPartNumber({{ i.id }})">
			<div id="part_number_display_{{ i.id }}">{{ i.part_number|default:"" }}</div>
			<div id="part_number_{{ i.id }}" style="display: none">{{ i.part_number|default:"" }}</div>
			<span id="part_number_buttons_{{ i.id }}" style="display: none"><button onclick="save(); return false;">Save</button><button onclick="cancel(); return false;">Cancel</button></span>
		</td>
		<td class="editable" onclick="editCommentCustomer({{ i.id }})">
			<div id="comment_customer_display_{{ i.id }}">{{ i.comment_customer|default:"" }}</div>
			<div id="comment_customer_{{ i.id }}" style="display: none">{{ i.comment_customer|default:"" }}</div>
			<span id="comment_customer_buttons_{{ i.id }}" style="display: none"><button onclick="save(); return false;">Save</button><button onclick="cancel(); return false;">Cancel</button></span>
		</td>
		<td id="quantity_{{ i.id }}">{{ i.quantity }}</td>
		<td class="editable" onclick="editPriceInvoice({{ i.id }})">
			<div id="price_invoice_display_{{ i.id }}">{{ i.price_invoice|default:"" }}</div>
			<div id="price_invoice_{{ i.id }}" style="display: none">{{ i.price_invoice|default:"" }}</div>
			<span id="price_invoice_buttons_{{ i.id }}" style="display: none"><button onclick="save(); return false;">Save</button><button onclick="cancel(); return false;">Cancel</button></span>
		</td>
		<td>
			<div id="total_w_ship_{{ i.id }}">{{ i.total_w_ship|default:"" }}</div>
		</td>
		<td class="editable" onclick="editSuperseded({{ i.id }})">
			<div id="part_number_superseded_display_{{ i.id }}">{{ i.part_number_superseded|default:"" }}</div>
			<div id="part_number_superseded_{{ i.id }}" style="display: none">{{ i.part_number_superseded|default:"" }}</div>
			<span id="part_number_superseded_buttons_{{ i.id }}" style="display: none"><button onclick="save(); return false;">Save</button><button onclick="cancel(); return false;">Cancel</button></span>
		</td>
		<td>{{ i.manager }}</td>
		<td>{{ i.client }}</td>
		<td class="editable" onclick="editDescriptionRu({{ i.id }})">
			<div id="description_ru_display_{{ i.id }}">{{ i.description_ru|default:"" }}</div>
			<div id="description_ru_{{ i.id }}" style="display: none">{{ i.description_ru|default:"" }}</div>
			<span id="description_ru_buttons_{{ i.id }}" style="display: none"><button onclick="save(); return false;">Save</button><button onclick="cancel(); return false;">Cancel</button></span>
		</td>
		<td class="editable" onclick="editDescriptionEn({{ i.id }})">
			<div id="description_en_display_{{ i.id }}">{{ i.description_en|default:"" }}</div>
			<div id="description_en_{{ i.id }}" style="display: none">{{ i.description_en|default:"" }}</div>
			<span id="description_en_buttons_{{ i.id }}" style="display: none"><button onclick="save(); return false;">Save</button><button onclick="cancel(); return false;">Cancel</button></span>
		</td>
		<td class="editable" onclick="editPriceBase({{ i.id }})">
			<div id="price_base_display_{{ i.id }}">{{ i.price_base|default:"" }}</div>
			<div id="price_base_{{ i.id }}" style="display: none">{{ i.price_base|default:"" }}</div>
			<span id="price_base_buttons_{{ i.id }}" style="display: none"><button onclick="save(); return false;">Save</button><button onclick="cancel(); return false;">Cancel</button></span>
		</td>
		<td class="editable" onclick="editWeight({{ i.id }})">
			<div id="weight_display_{{ i.id }}">{{ i.weight|default:"" }}</div>
			<div id="weight_{{ i.id }}" style="display: none">{{ i.weight|default:"" }}</div>
			<span id="weight_buttons_{{ i.id }}" style="display: none"><button onclick="save(); return false;">Save</button><button onclick="cancel(); return false;">Cancel</button></span>
		</td>
		<td id="delivery_{{ i.id }}">{{ i.delivery|default:"" }}</td>
		<td id="price_sale_{{ i.id }}">{{ i.price_sale|default:"" }}</td>
		<td class="editable" onclick="editPriceDiscount({{ i.id }})">
			<div id="price_discount_display_{{ i.id }}">{{ i.price_discount|default:"" }}</div>
			<div id="price_discount_{{ i.id }}" style="display: none">{{ i.price_discount|default:"" }}</div>
			<span id="price_discount_buttons_{{ i.id }}" style="display: none"><button onclick="save(); return false;">Save</button><button onclick="cancel(); return false;">Cancel</button></span>
		</td>
		<td id="cost_{{ i.id }}">{{ i.cost|default:"" }}</td>
		<td id="total_cost_{{ i.id }}">{{ i.total_cost|default:"" }}</td>
		
		<td class="editable">
			<select id="status_input_{{ i.id }}" onchange="editStatus({{ i.id }}, this.value)">
			{% for opt in status_options %}
			<option value="{{ opt.value }}"{% ifequal opt.value i.status %} selected{% endifequal %}>{{ opt.option }}</option>
			{% endfor %}
			</select>
		</td>
	</tr>
{% endfor %}
</tbody>
</table>

</div>

</form>
{% include "paginator.html" %}


{% endblock %}