{% extends 'cp_base.html' %}

{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/admin_table.css">
<script>
var current = {'id':null,'type':null,'value':null};
function save() {
    value = jQuery('#' + current.type + '_input_' + current.id).val();
    jQuery('#' + current.type + '_' + current.id).html('<img src="{{ MEDIA_URL }}img/icons/ajax-loader.gif">')
    jQuery.ajax(
        {
            type: 'POST',
            url: '/cp/position/edit/' + current.id + '/',
            data: {
                    'type':current.type,
                    'value':value
                   },
            success: function(response) {
	            r = eval('['+response+']');
                current.value = r[0]['value'];
                close();
            }
        });
    
}

function close() {
    jQuery('#' + current.type + '_' + current.id).html(current.value);
    jQuery('#quantity_save_btn_' + current.id).css("display","none");
    current = {'id':null,'type':null,'value':null};
}
function editQuantity(id) {
    if (current.id == id && current.type == 'quantity') return;
    if (current.id) close();
    current.type = 'quantity'; 
    current.value = jQuery('#quantity_'+id).html();
    current.id = id;
    
    jQuery('#quantity_'+id).html('<input id="quantity_input_' + id + '" type="text" value="' + current.value + '">');
    jQuery('#quantity_save_btn_'+id).css("display","inline");
    
}
</script>
{% endblock %}

{% block content %}
{% if items %}
<table class="admin_table">
<tr>
<th>Order</th>
<th>Side</th>
<th>Brand</th>
<th>Part #</th>
<th>Superseded</th>
<th>Price</th>
<th>Quantity</th>
<th>Status</th>
<th>&nbsp;</th>
</tr>
{% for i in items %}
<tr>
<td>{{ i.order.po }}</td>
<td>{{ i.side|default:"&nbsp;" }}</td>
<td>{{ i.brand|default:"&nbsp;" }}</td>
<td>{{ i.part_number|default:"&nbsp;" }}</td>
<td>{{ i.part_number_superseded|default:"&nbsp;" }}</td>
<td>{{ i.price|default:"&nbsp;" }}</td>
<td><div id="quantity_{{ i.id }}" onclick="editQuantity({{ i.id }})">{{ i.quantity|default:"&nbsp;" }}</div>
<button id="quantity_save_btn_{{ i.id }}" style="display: none" onclick="save()">Save</button>
</td>
<td>{{ i.status|default:"&nbsp;" }}</td>
<td><a href="/cp/position/edit/{{ i.id }}">Edit</a></td>
</tr>
{% endfor %}
</table>
{% else %}
Нет ни одной записи
{% endif %}
{% include "paginator.html" %}
{% endblock %}