{% extends 'cp/index.html' %}
{% load cp_tags %}

{% block menu_invoices %}<a class="menu-active" href="{% url invoices %}">Инвойсы</a>{% endblock %}
{% block menu_index %}<a href="{% url cp_index %}">В виде таблицы</a>{% endblock %}

{% block content %}
<div id="changelist">
    <form method="{{ filter.method }}" action="{% url invoices %}">
        <input type="hidden" name="qs_filter" value="1">
        <input type="submit" value="Фильтр">
        <input type="submit" name="qs_filter_clear" value="Очистить">
        &nbsp;
        Количество записей на странице:
        <select onchange="buildQueryFilter();" id="items-per-page-filter-select">
            <option value="50"{% ifequal items_per_page 50 %} selected {% endifequal %}>50</option>
            <option value="100"{% ifequal items_per_page 100 %} selected {% endifequal %}>100</option>
            <option value="all"{% ifequal items_per_page 10000 %} selected {% endifequal %}>все</option>
        </select>&nbsp;&nbsp;
        За период:
        <select onchange="buildQueryFilter();" id="period-filter-select">
            <option value="w"{% ifequal period 'w' %} selected {% endifequal %}>неделя</option>
            <option value="m"{% ifequal period 'm' %} selected {% endifequal %}>месяц</option>
            <option value="y"{% ifequal period 'y' %} selected {% endifequal %}>год</option>
            <option value="a"{% ifequal period 'a' %} selected {% endifequal %}>все</option>
        </select><br/><br/>

        <div class="module" id="changelist">
            <table>
                <thead>
                    <tr>{% table_header_sort headers %}</tr>
                    <tr{% if filter.is_set %} style="border: solid 2px green;"{% endif %}>
                    {% for f in list_filters %}
                        <td>{{ f }}</td>
                    {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <style>
                        #changelist table tbody td {padding: 5px;}
                        #changelist table thead input.qs_filter, #changelist table thead select.qs_filter {width: 98%;}
                    </style>
                    {% for i in items %}
                      <tr class="{% cycle row1,row2 %}">
                        <td><a href="{% url invoice i.id %}">{{ i.code }}</a></td>
                        <td>{{ i.received_at|date:"d.m.Y"|safe }}</td>
                        <td>{{ i.get_status_display }}</td>
                      </tr>
                    {% endfor %}
                    <tr>
                        <td colspan={{ headers|length }}>{% include "paginator.html" %}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>
{% endblock %}