{% extends 'cp/issues.html' %}

{% block menu_issues %}<a class="menu-active" href="{% url issues %}">Отгрузки</a>{% endblock %}
{% block menu_index %}<a href="{% url cp_index %}">В виде таблицы</a>{% endblock %}

{% block export_link %}{% endblock %}

{% block content %}
<a href="/cp/export_order/?qs_filter=1&status=received_office&client__username__contains={{ client.username }}{% for k, v in qs_filter_param.items %}&{{ k|urlencode }}={{ v|urlencode }}{% endfor %}">Экспорт</a><br/>
<h3>Отгрузки {{ client.username }}</h3><br/>
{{ block.super }}
{% endblock %}

{% block filter_period %}{% endblock %}
