{% extends 'cp/index.html' %}

{% block menu_issues %}<a class="menu-active" href="{% url issues %}">Отгрузки</a>{% endblock %}
{% block menu_index %}<a href="{% url cp_index %}">Заказы</a>{% endblock %}

{% block export_link %}<a href="/cp/export_order/?qs_filter=1&status=received_office{% for k, v in qs_filter_param.items %}&{{ k|urlencode }}={{ v|urlencode }}{% endfor %}">Экспорт</a><br/><br/>{% endblock %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript">
    function issue() {
        var orderIds = new Array();
        jQuery('.select_row:checked').each(function() {
            orderIds.push(jQuery(this).attr('name').replace('select_row_', ''));
        });
        if (orderIds.length > 0) {
            jQuery('input[name=issued_orders]').val(orderIds.join(','));
            jQuery('#issues-process-form').submit();   
        }
        return false;
    }
</script>
{% endblock %}

{% block content %}
{{ block.super }}
<form action="" method="post" id="issues-process-form">
    <div class="submit-row">
        <input type="submit" onclick="issue(); return false;" name="open_invoice_button" value="Отгрузить" />
        <input type="hidden" name="issued" value="1" />
        <input type="hidden" name="issued_orders" value="" />
    </div>
</form>
{% endblock %}

{% block filter_period %}{% endblock %}
