{% if orders_by_brand %}
<style>.admin_table td { padding:4px; }</style>
<table class="admin_table" style="margin-bottom: 0px;" id="brandgroup_{{ brandgroup.id }}">
    <tr><th colspan="3">{{ brandgroup.title }}</th></tr>
    <tr>
        <td style="background: #dbdbdb;padding-left:60px;width:150px;"><b>Part Number</b></td>
        <td style="background: #dbdbdb;width:200px"><b>QTY</b></td>
        <td style="background: #dbdbdb;width:20px"></td>
    </tr>
    {% for brand, orders in orders_by_brand.items %}
    <tr>
        <table class="admin_table" style="margin-bottom: 0px;" id="brand_{{ brand.id }}">
            <tr>
                <td style="padding-left:30px;background:white;" colspan="2"><h3>{{ brand.title }}</h3></td>
                <td style="background:white;"><input type="checkbox" name="selectGroup" onchange="selectGroup(this, '{{ brand.id }}', '{{ brandgroup.id }}', '{{ direction.id }}');" ></td>
            </tr>
            {% for order in orders %}
            <tr id="order_{{ order.id }}">
                <td style="padding-left:60px;width:150px;">{{ order.part_number }}</td>
                <td style="width:200px">{{ order.quantity }}</td>
                <td style="width:20px"><input type="checkbox" onchange="selectOrder(this, '{{ brand.id }}', '{{ brandgroup.id }}', '{{ direction.id }}');" id="order_{{ order.id }}" name="order_{{ order.id }}"></td>
            </tr>
            {% endfor %}
        </table>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="3" align="right" style="background: #ffffff">
            <div class="submit-row">
            <b><a href="/cp/export/{{ brandgroup.id }}/" class="export_link" style="color: #0190bf">Экспорт</a></b>
            </div>
        </td>
    </tr>
</table>
{% endif %}