{% if items %}
<table class="admin_table">
<tr><th colspan="2">{{ brand.name }}</th></tr>
{% for i in items %}
{% ifchanged %}
<tr><td colspan="2" style="background: #dbdbdb"><b>{{ i.po }}</b></td></tr>
{% endifchanged %}
<tr>
<td>{{ i.part_number }}</td>
<td>{{ i.quantity }}</td>
</tr>
{% endfor %}
<tr>
<td colspan="2" align="right" style="background: #ffffff"><b><a target="_blank" href="/cp/export/{{ brand.id }}/" style="color: #0190bf">Экспорт</a></b></td>
</tr>
</table>
{% endif %}