{% if orders_by_area %}
<style>.admin_table td { padding:4px; } .exist-in-stk { color: #7CA0C7; }</style>
<table class="admin_table" style="margin-bottom: 0px;" id="brandgroup_{{ brandgroup.id }}">
    <tr><th colspan="12">{{ brandgroup.title }}</th></tr>
    <tr>
        <td style="background: #dbdbdb;width:150px;"><b>Brand</b></td>
        <td style="background: #dbdbdb;width:50px;"><b>Part Number</b></td>
        <td style="background: #dbdbdb;width:20px"><b>QTY</b></td>
        <td style="background: #dbdbdb;width:125px"><b>Description ENG</b></td>
        <td style="background: #dbdbdb;width:125px"><b>Description RUS</b></td>
        <td style="background: #dbdbdb;width:125px"><b>Comment1</b></td>
        <td style="background: #dbdbdb;width:125px"><b>Comment2</b></td>
        <td style="background: #dbdbdb;width:70px"><b>CL</b></td>
        <td style="background: #dbdbdb;width:50px"><b>ID</b></td>
        <td style="background: #dbdbdb;width:50px"><b>LIST</b></td>
        <td style="background: #dbdbdb;width:50px"><b>PRICE</b></td>
        <td style="background: #dbdbdb;width:20px"></td>
    </tr>
    {% for area, orders in orders_by_area.items %}
    <tbody id="brand_{{ area.id }}">
            <tr>
                <td style="padding-left:10px;background:white;" colspan="11"><h3>{{ area.title }}</h3></td>
                <td style="background:white;"><input type="checkbox" name="selectGroup" onchange="selectGroup(this, '{{ area.id }}', '{{ brandgroup.id }}', '{{ direction.id }}');" ></td>
            </tr>
            {% for order in orders %}
            <tr id="order_{{ order.id }}" class="{% ifequal order.status 'moderation' %}moderation {% endifequal %}{% if order.brandgroup.direction.title|upper == 'US' and order.exist_in_stk %}exist-in-stk {% endif %}">
                <td style="width:150px;">{{ order.brand }}</td>
                <td style="width:50px;">{{ order.part_number }}</td>
                <td style="width:20px">{{ order.quantity }}</td>
                <td style="width:125px"><b>{{ order.description_en|default:"" }}</b></td>
                <td style="width:125px"><b>{{ order.description_ru|default:"" }}</b></td>
                <td style="width:125px"><b>{{ order.comment_customer|default:"" }}</b></td>
                <td style="width:125px"><b>{{ order.comment_supplier|default:"" }}</b></td>
                <td style="width:70px"><b>{{ order.client }}{% if order.client_order_id %}/{{ order.client_order_id }}{% endif %}</b></td>
                <td style="width:50px"><b>{{ order.manager }}</b></td>
                <td style="width:50px"><b>{{ order.price_base }}</b></td>
                <td style="width:50px"><b>{{ order.price_sale }}</b></td>

                <td style="width:20px">
                    {% ifequal order.status 'moderation' %}
                    {% else %}
                        <input type="checkbox" onchange="selectOrder(this, '{{ brand.id }}', '{{ brandgroup.id }}', '{{ direction.id }}');" id="order_{{ order.id }}" name="order_{{ order.id }}" />
                    {% endifequal %}
                </td>
            </tr>
            {% endfor %}
    </tbody>
    {% endfor %}
    <tr>
        <td colspan="12" align="right" style="background: #ffffff">
            <div class="submit-row">
            <script>
            export_brandgroup = function(brandgroup_id){
                window.location.href = '/cp/export/'+ brandgroup_id +'/';
                setTimeout("window.location.reload();", 3000);
            }
          </script>
            <b><a onclick="exportOrders('{{ direction.id }}')" href="javascript: void(0);" class="export_link" style="color: #0190bf">Экспорт</a></b>
            </div>
        </td>
    </tr>
</table>
{% endif %}

