{% extends 'cp_base.html' %}
{% load i18n %}

{% block page_title %}Новый заказ{% endblock %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript" src="{{ MEDIA_URL }}js/mootools.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/mootools/dynamicforms.js"></script>
<script type="text/javascript">
	var current = null;
	var curr_field = null;

	function setField(value,id) {
		jQuery('#'+curr_field +'\\.'+ current).attr({'value':value, 'rel':id});
		current = null;
	}

	function showListArea(e)	{
		id = e.id;
		curr_field = jQuery(e).attr('rel');
		current = id.split('.')[1]
		direction_id = jQuery(e).parents('tr').find('#id_supplier\\.'+current+' :selected').attr('value');
		if (direction_id)
			showPopUp('/client/help/'+ direction_id +'/area/', 200, 600, 'area', 1);
		else
			alert('Выберите направление');
		return false;
	}

	function showListBrand(e)	{
		id = e.id;
		curr_field = jQuery(e).attr('rel');
		current = id.split('.')[1]
		area = jQuery('#id_area\\.'+current).attr('value');
		area_id = jQuery('#id_area\\.'+current).attr('rel');
		if (area && area_id)
			showPopUp('/client/help/'+ area_id +'/brands/', 200, 600, 'brands', 1);
		else
			alert('Выберите поставщика');
		return false;
	}

	function setCar(value) {
		document.getElementById('id_comment_supplier.'+current).value = value;
		current = null;
	}

	function showListCar(e){
		id = e.id;
		current = id.split('.')[1]
		showPopUp('/client/help/cars/', 200, 600, 'cars', 1);
	}

	var PageForm = Form.extend({
		initialize: function(value) {
		this.parent({{ page_template|safe }}, value);
		this.fieldset = new Element('fieldset');
		this.fieldset.setProperty('class', 'module aligned');
		this.fieldset.innerHTML = this.html;
		$('page-forms').adopt(this.fieldset);
		}
	});

	Window.onDomReady(function() {

		{% for page in page_data %}
		new PageForm({{ page|safe }});
		{% endfor %}

		jQuery('.priceSale, .quantity').keyup(function() {
			calculateTotal();
		});
	});

	calculateTotal = function() {
		total = 0;
		jQuery('.priceSale').each(function() {
			var val = parseFloat(this.value * jQuery(this).parents('tr:first').find('.quantity').attr('value'));
			if (!isNaN(val)) total += val;
		});
		total ? jQuery('#spanTotalPrice').html('').html(total) : jQuery('#spanTotalPrice').html('0');
	}

	function showSearchForm(){
		showPopUp('{% url search %}', 800, 300, 'Search', 1);
		console.log(jQuery('input[id^=id_part_number\\.]'));
	}

	function setPart(data){
		data = jQuery.unserialize(data);
		id = getFreeRow();
		jQuery('#id_part_number\\.'+id).attr('value', data.partnumber);
		jQuery('#id_brand\\.'+id).attr('value', data.maker_name);
		jQuery('#id_description_en\\.'+id).attr('value', data.description);
		jQuery('#id_price_base\\.'+id).attr('value', data.MSRP);
	}

	function getFreeRow(){
		freeRow = null;
		curr_id = null;
		jQuery('input[id^=id_part_number\\.]').each(function(){
			curr_id = jQuery(this).attr('id').split('.')[1];
			if(!jQuery(this).attr('value')){
				freeRow = curr_id;
				return false;
			}
		});

		if (!freeRow){
			jQuery('a.add_link').click();
			freeRow = parseInt(curr_id) + 1;
		}

		return freeRow;
	}

	function changeDir(el){
		var curr_id = jQuery(el).attr('id').split('.')[1];
		jQuery('#id_brand\\.'+curr_id).attr('value', '');

		return false;
	}

	(function(jQuery){
		jQuery.unserialize = function(serializedString){
			var str = decodeURI(serializedString);
			var pairs = str.split('&');
			var obj = {}, p, idx, val;
			for (var i=0, n=pairs.length; i < n; i++) {
				p = pairs[i].split('=');
				idx = p[0];
				if (idx.indexOf("[]") == (idx.length - 2)) {
					var ind = idx.substring(0, idx.length-2)
					if (obj[ind] === undefined) {
						obj[ind] = [];
					}
					obj[ind].push(unescape(p[1]));
				}
				else {
					obj[idx] = unescape(p[1]);
				}
			}
			return obj;
		};
	})(jQuery);

</script>
{% endblock %}

{% block content %}
	<a style="color: #0190bf; padding:10px;" id="linkSearch" onclick="showSearchForm();" href="javascript:void(0);">Поиск</a> <a style="color: #0190bf; padding:10px;" href="{% url import_to_csv %}">Импорт</a>
	<br/><br/>
	<form action="" method="post">
		<div id="page-forms"></div>
		<p align="right" id="pTotalPrice" style="font-size:16px;" class="totalPrice"><b>Total: </b> <span id="spanTotalPrice">0</span></p>
		<p align="right"><a class="add_link" href="javascript:void(0)" onclick="new PageForm();">Добавить позицию</a></p>
		<div class="submit-row">
			<input type="submit" name="save_order" value="Отправить заказ" />&nbsp;&nbsp;&nbsp;
		</div>
	</form>
{% endblock %}

