<table width="100%" id="tableOrderForm">
<tr>

<td {% if form.direction.errors %}class="error"{% endif %}>
{{ form.supplier.label }}*<br /><br />
{{ form.supplier }}
{% if form.supplier.errors %}
<span>{{ form.supplier.errors }}</span>
{% endif %}
</td>

<td {% if form.brand.errors %}class="error"{% endif %}>
{{ form.brand.label }}*<br /><br />
{{ form.brand }}<br /><a class="help" id="c.#" href="javascript:void(0);" onclick="showListBrand(this)">Список</a><br />
{% if form.brand.errors %}
<span>{{ form.brand.errors }}</span>
{% endif %}
</td>

<td {% if form.part_number.errors %}class="error"{% endif %}>
{{ form.part_number.label }}*<br /><br />
{{ form.part_number }}
{% if form.part_number.errors %}
<span>{{ form.part_number.errors }}</span>
{% endif %}
</td>

<td {% if form.comment_customer.errors %}class="error"{% endif %}>
{{ form.comment_customer.label }}<br /><br />
{{ form.comment_customer }}
{% if form.comment_customer.errors %}
<span>{{ form.comment_customer.errors }}</span>
{% endif %}
</td>

<td {% if form.comment_supplier.errors %}class="error"{% endif %}>
{{ form.comment_supplier.label }}<br /><br />
{{ form.comment_supplier }}<br />
{% if form.comment_supplier.errors %}
<span>{{ form.comment_supplier.errors }}</span>
{% endif %}
</td>

<td {% if form.quantity.errors %}class="error"{% endif %}>
{{ form.quantity.label }}*<br /><br />
{{ form.quantity }}
{% if form.quantity.errors %}
<span>{{ form.quantity.errors }}</span>
{% endif %}
</td>

<td {% if form.client_id.errors %}class="error"{% endif %}>
{{ form.client_id.label }}*<br /><br />
{{ form.client_id }}
{% if form.client_id.errors %}
<span>{{ form.client_id.errors }}</span>
{% endif %}
</td>

<td {% if form.description_ru.errors %}class="error"{% endif %}>
{{ form.description_ru.label }}<br /><br />
{{ form.description_ru }}
{% if form.description_ru.errors %}
<span>{{ form.description_ru.errors }}</span>
{% endif %}
</td>

<td {% if form.description_en.errors %}class="error"{% endif %}>
{{ form.description_en.label }}<br /><br />
{{ form.description_en }}
{% if form.description_en.errors %}
<span>{{ form.description_en.errors }}</span>
{% endif %}
</td>

<td {% if form.price_base.errors %}class="error"{% endif %}>
{{ form.price_base.label }}<br /><br />
{{ form.price_base }}
{% if form.price_base.errors %}
<span>{{ form.price_base.errors }}</span>
{% endif %}
</td>

<td {% if form.price_sale.errors %}class="error"{% endif %}>
{{ form.price_sale.label }}<br /><br />
{{ form.price_sale }}
{% if form.price_sale.errors %}
<span>{{ form.price_sale.errors }}</span>
{% endif %}
</td>

</tr>
</table>