<script type="text/javascript">
    jQuery(function() {
        var $password = jQuery("#password");
 
        jQuery("#dialog-form").dialog({
            autoOpen: false,
            position: 'center',
            modal: true,
            title: 'Введите пароль',
            height: 130,
            buttons: {
                "Ok": function() {
                    if ($password.val()) {
                        jQuery('#process-form').append('<input type="hidden" name="password" value="'+ $password.val() +'" />').submit();
                        jQuery(this).dialog("close");
                    }
                    $password.addClass("ui-state-error");
                },
                Cancel: function() {
                    jQuery(this).dialog("close");
                }
            },
            open: function() {
                jQuery("#password").val('');
                jQuery("#dialog-form").keypress(function(e) {
                    if (e.keyCode == jQuery.ui.keyCode.ENTER) {
                        jQuery(this).parent().find("button:eq(0)").trigger("click");
                        return false;
                    }
                });
            },
            close: function(event, ui) {
                jQuery("#password").val('');
            }
        });
    });
</script>
<style>
    .ui-widget-header {
        background: #417690;
    }
    .ui-button-text-only .ui-button-text {
        padding: 3px 10px;
    }
    .ui-dialog-title {
        color: white;
    }
</style>
<div id="dialog-form">
  <form>
        <input type="password" name="password" id="password" value="" class="text ui-widget-content ui-corner-all" style="width: 267px;" />
  </form>
</div>