{% load i18n %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery_1.4.4.js"></script>
<script type="text/javascript">
    function selectPart(el){
        var data = jQuery(el).parents('.formFound').serialize() +'&maker_name={{ maker_name }}';
        window.opener.setPart(data);
    }

    function selectPartAndClose(){
        selectPart();
        window.close();
    }
</script>
<div id="divSearch" style="text-align: left; min-width: 800px;">
    <form method="POST" id="formSearch">
        {{ form.maker.errors }}<b>{{ form.maker.label }}* :</b> {{ form.maker }}<br/><br/>
        {{ form.part_number.errors }}<b>{{ form.part_number.label }}* :</b> {{ form.part_number }}
        <br/><br/>
        <input type="submit" value="Search" />
    </form>
    <br/>
    <h2>{{ msg|default:"" }}</h2>
    {% if data %}
        {% for found in data %}
        <form class="formFound">
            <table class="dataTable" width="750px">
                <tr>
                    <td><b>Item Number</b></td>
                    <td><b>MSRP</b></td>
                    <td><b>Core Price</b></td>
                    <td><b>Description</b></td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        {{ found.partnumber }}
                        <input type="hidden" name="partnumber" value="{{ found.partnumber }}">
                    </td>
                    <td>
                        {{ found.MSRP }}
                        <input type="hidden" name="MSRP" value="{{ found.MSRP }}">
                    </td>
                    <td>
                        {{ found.core_price }}
                        <input type="hidden" name="core_price" value="{{ found.core_price }}">
                    </td>
                    <td>
                        {{ found.description }}
                        <input type="hidden" name="description" value="{{ found.description }}">
                    </td>
                    <td>
                        <button style="font-size:11px;" onclick="selectPart(this);return false;" >Select</button>
                        <button style="font-size:11px; width: 150px;" onclick="selectPartAndClose();return false;" >Select and Close</button>
                    </td>
                </tr>
            </table>
        </form>
        {% endfor %}
    {% endif %}
</div>

