BeautifulSoup==3.2.0
Django==1.2.3
PyXML==0.8.4
SOAPpy==0.12.5
South==0.7.3
ZSI==2.0-rc3
distribute==0.6.10
django-admin-tools==0.4.0
fpconst==0.7.2
mechanize==0.2.5
psycopg2==2.4.2
pyExcelerator==0.6.4.1
python-cjson==1.0.5
simplejson==2.2.1
wsgiref==0.1.2
wstools==0.3
