{% load cp_tags %}
  {% table_td i 'get_po_verbose' 0 '' %}
  {% table_td i 'brandgroup' 0 '' %}
  {% table_td i 'area' 0 '' %}
  {% table_td i 'brand' 0 '' %}
  {% ifequal i.status 'superseded' %}
  {% table_td i 'part_number' 0 '' 'cross_out' %}
  {% else %}
  {% table_td i 'part_number' 0 '' %}
  {% endifequal %}
  {% table_td i 'comment_customer' 0 '' %}
  {% table_td i 'comment_supplier' 1 'editCommentSupplier' %}
  <td id="created_row_{{ i.id }}" align="center">
  <div id="created_display_{{ i.id }}">
  {{ i.created|date:"d.m.Y <\\b\\r\\\> H:i"|safe }}
  </div>
  </td>
  <td id="received_office_at_row_{{ i.id }}" align="center">
  <div id="received_office_at_display_{{ i.id }}">
  {{ i.received_office_at|date:"d.m.Y <\\b\\r\\\> H:i"|safe }}
  </div>
  </td>
  {% table_td i 'quantity' 0 '' %}
  {% table_td i 'price_invoice' 1 'editPriceInvoice' %}
  {% table_td i 'total_w_ship' 0 '' %}
  {% table_td i 'part_number_superseded' 1 'editSuperseded' %}
  {% table_td i 'manager' 0 '' %}
  <td>{{ i.client }}{% if i.client_order_id %}/{{ i.client_order_id }}{% endif %}</td>
  {% table_td i 'description_ru' 1 'editDescriptionRu' %}
  {% table_td i 'description_en' 1 'editDescriptionEn' %}
  {% table_td i 'price_base' 1 'editPriceBase' 0 %}
  {% table_td i 'weight' 1 'editWeight' %}
  {% table_td i 'delivery' 0 '' 0 %}
  {% table_td i 'price_sale' 0 '' 0 %}
  {% table_td i 'price_discount' 1 'editPriceDiscount' 0 %}
    {% table_td i 'cost' 0 '' 0 %}
    {% table_td i 'total_cost' 0 '' 0 %}
  {% table_td i 'invoice_code' 1 'editInvoiceCode' %}
    <td class="editable">
        <select id="status_input_{{ i.id }}" onchange="editStatus({{ i.id }}, this.value)">
        {% for opt in status_options %}
          {% ifequal i.status 'order' %}
              {% ifequal opt.value 'order' %}
                <option value="order" selected>{{ opt.option|lower }}</option>
              {% endifequal %}
              {% ifequal opt.value 'moderation' %}
                <option value="moderation">{{ opt.option|lower }}</option>
              {% endifequal %}
          {% else %}
            {% ifequal i.status 'moderation' %}
              {% ifequal opt.value 'order' %}
                <option value="order">{{ opt.option|lower }}</option>
              {% endifequal %}
              {% ifequal opt.value 'moderation' %}
                <option value="moderation" selected>{{ opt.option|lower }}</option>
              {% endifequal %}
            {% else %}
              {% ifequal opt.value 'order' %}
              {% else %}
                {% ifequal opt.value 'moderation' %}
                {% else %}
                  <option value="{{ opt.value }}"{% ifequal opt.value i.status %} selected="selected"{% endifequal %}>
                    {{ opt.option|lower }}
                  </option>
                {% endifequal %}
              {% endifequal %}
            {% endifequal %}
          {% endifequal %}
        {% endfor %}
        </select>
    </td>
</tr>

