{% load i18n %}{% if editable and not item.failed %}
<td id="{{ field_name }}_row_{{ item.id }}" class="editable" onclick="{{ jscallback }}({{ item.id }})">
	<div id="{{ field_name }}_display_{{ item.id }}">{{ value|default:"" }}</div>
	<div id="{{ field_name }}_{{ item.id }}" style="display: none">{{ value|default:"" }}</div>
	<span id="{{ field_name }}_buttons_{{ item.id }}" style="display: none">
	<a class="addlink" onclick="save(); return false;" href="javascript:void(0);">{% trans "Save" %}</a>
	&nbsp;&nbsp;
	<a class="deletelink" onclick="cancel(); return false;" href="javascript:void(0);" >{% trans "Cancel" %}</a></span>
</td>
{% else %}
<td id="{{ field_name }}_row_{{ item.id }}" class="{% if item.superseded and field_name == part_number %}superseded{% endif %}"><div id="{{field_name }}_display_{{ item.id }}">{% if not item.failed %}{{ value|default:"" }}</div>{% endif %}</td>
{% endif %}

