{% extends 'manager/index.html' %}
{% load manager_tags %}

{% block menu_invoices %}<a class="menu-active" href="{% url manager_invoices %}">Инвойсы</a>{% endblock %}
{% block menu_index %}<a href="{% url manager_index %}">Заказы</a>{% endblock %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript">
    var PageForm = Form.extend({
        initialize: function(value) {
        this.parent({{ package_template|safe }}, value);
        this.fieldset = new Element('fieldset');
        this.fieldset.setProperty('class', 'module aligned');
        this.fieldset.innerHTML = this.html;
        $('package-forms').adopt(this.fieldset);
        }
    });

    Window.onDomReady(function() {
        {% for package_form in package_data %}
        new PageForm({{ package_form|safe }});
        {% endfor %}
    });

    function removePackage(id) {
        jQuery.ajax({
            type: 'POST',
            url: '{% url remove_package %}',
            async: false,
            data: {
                'ids': id,
            },
            success: function(response) {
                if (response.success) {
                    var $packageRow = jQuery('.row_package_' + id);
                    $packageRow.hide(300, function(){
                        $packageRow.remove();
                        if (!jQuery('.row_package').length)
                            jQuery('.row_packages_header').remove();
                    });

                }
            }
        });
    }
</script>
{% endblock %}

{% block content_title %}
<h4>Инвойс: {{ cl.invoice.code }}, получен: {{ cl.invoice.received_at|date:"d.m.Y"|default:"---" }}, статус: {{ cl.invoice.get_status_display }}</h4>
{% endblock %}

{% block after_table %}
<br/>
<form action="" method="post" id="process-form">
    <p align="right">
        <a class="add_link" href="javascript:void(0)" onclick="new PageForm(); jQuery('.save_packages_block').show();">Добавить упаковку</a>
    </p>
    <div id="package-forms"></div>
    <div class="save_packages_block" style="text-align: right; {% if package_forms_is_valid %}display: none;{% endif %}">
        <input type="submit" name="save_package" value="Сохранить" />
    </div>
    <br/>
</form>
{% endblock %}
