{% extends 'manager/index.html' %}
{% load manager_tags %}

{% block menu_invoices %}<a class="menu-active" href="{% url manager_invoices %}">Инвойсы</a>{% endblock %}
{% block menu_index %}<a href="{% url manager_index %}">Заказы</a>{% endblock %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript">
    var PageForm = Form.extend({
        initialize: function(value) {
        this.parent({{ package_template|safe }}, value);
        this.fieldset = new Element('fieldset');
        this.fieldset.setProperty('class', 'module aligned');
        this.fieldset.innerHTML = this.html;
        $('package-forms').adopt(this.fieldset);
        }
    });

    Window.onDomReady(function() {
        {% for package_form in package_data %}
        new PageForm({{ package_form|safe }});
        {% endfor %}
    });

    function removePackage(id) {
        jQuery.ajax({
            type: 'POST',
            url: '{% url remove_package %}',
            async: false,
            data: {
                'ids': id,
            },
            success: function(response) {
                if (response.success) {
                    var $packageRow = jQuery('.row_package_' + id);
                    $packageRow.hide(300, function(){
                        $packageRow.remove();
                        if (!jQuery('.row_package').length)
                            jQuery('.row_packages_header').remove();
                    });

                }
            }
        });
    }
</script>
{% endblock %}

{% block export_link %}
<a href="{% url manager_export_orders %}?qs_filter=1&invoice_code__contains={{ invoice.code|urlencode }}{% for k, v in qs_filter_param.items %}&{{ k|urlencode }}={{ v|urlencode }}{% endfor %}">Экспорт</a>
<br/>
{% endblock %}

{% block content_title %}
<h3>Инвойс: {{ invoice.code }}, получен: {{ invoice.received_at|date:"d.m.Y"|default:"---" }}, статус: {{ invoice.get_status_display }}</h3><br/>
{% endblock %}

{% block table_body %}
{% for i in items %}
  <tr id="table_row_{{ i.id }}" class="{% cycle row1,row2 %} {{ i.status }}">
    {% include "manager/tags/row.html" %}
  </tr>
{% endfor %}
<tr style="text-align: left;">
    <td colspan={{ headers|length|add:"1" }}>{% include "paginator.html" %}</td>
</tr>
{% if packages %}
    <tr class="row_packages_header">
        <td colspan={{ headers|length|add:"1" }} style="text-align: left; font-weight: bold; padding: 5px; color:#666; font-size:11px; background:#e1e1e1 url(/media/img/admin/nav-bg.gif) top left repeat-x; border-left:1px solid #ddd; border-bottom:1px solid #ddd;">Упаковки</td>
    </tr>
    {% for p in packages %}
        <tr class="{% cycle row1,row2 %} row_package_{{ p.id }} row_package">
            {% include "manager/tags/row_package.html" %}
        </tr>
    {% endfor %}
{% endif %}
<tr class="alt">
  <td></td>
  {% for val in total_row %}
      <td>
        {% if val %}<b>{{ val|floatformat:2 }}</b>{% else %}{% endif %}
      </td>
  {% endfor %}
  <td></td>
</tr>
{% endblock %}

{% block after_table %}
<br/>
<form action="" method="post" id="process-form">
    <p align="right">
        <a class="add_link" href="javascript:void(0)" onclick="new PageForm(); jQuery('.save_packages_block').show();">Добавить упаковку</a>
    </p>
    <div id="package-forms"></div>
    <div class="save_packages_block" style="text-align: right; {% if package_forms.are_valid %}display: none;{% endif %}">
        <input type="submit" name="save_package" value="Сохранить" />
    </div>
    <br/>
</form>
{% endblock %}
