{% extends 'manager/index.html' %}
{% load manager_tags %}

{% block menu_issues %}<a class="menu-active" href="{% url manager_issues %}">К выдаче</a>{% endblock %}
{% block menu_index %}<a href="{% url manager_index %}">Заказы</a>{% endblock %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript">
    function issue() {
        var orderIds = new Array();
        var packageIds = new Array();
        jQuery('.select_row:checked').each(function() {
            orderIds.push(jQuery(this).attr('name').replace('select_row_', ''));
        });
        jQuery('.select_package:checked').each(function() {
            packageIds.push(jQuery(this).attr('name').replace('select_package_', ''));
        });
        if ((orderIds.length +  packageIds.length) > 0) {
            jQuery('input[name=issued_orders]').val(orderIds.join(','));
            jQuery('input[name=issued_packages]').val(packageIds.join(','));
            jQuery('#issues-process-form').submit();
        }
        return false;
    };

    function createFieldSet(formId){
        return Form.extend({
            initialize: function(value) {
                this.parent({{ balance_add_form_template|safe }}, value);
                this.fieldset = new Element('fieldset');
                this.fieldset.setProperty('class', 'module aligned');
                this.fieldset.innerHTML = this.html;
                $(formId).adopt(this.fieldset);
            }
        });
    };

    var balancePaymentFieldSet = createFieldSet('balance-payment-form');
    var balanceInvoiceFieldSet = createFieldSet('balance-invoice-form');

    Window.onDomReady(function() {
        {% for data in balance_payment_form_data %}
        new balancePaymentFieldSet({{ data|safe }});
        jQuery('.save_balance_payment_block').show();
        {% endfor %}
        {% for data in balance_invoice_form_data %}
        new balanceInvoiceFieldSet({{ data|safe }});
        jQuery('.save_balance_invoice_block').show();
        {% endfor %}
    });
</script>
{% endblock %}

{% block export_link %}
<a href="{% url manager_export_orders %}?qs_filter=1&status=received_office&client__username__contains={{ client.username }}{% for k, v in qs_filter_param.items %}&{{ k|urlencode }}={{ v|urlencode }}{% endfor %}">Экспорт</a>
<br/>
{% endblock %}

{% block content_title %}
<h3>Клиент {{ client.username }}</h3>
<br/>
{% endblock %}

{% block table_body %}
{% for i in items %}
  <tr id="table_row_{{ i.id }}" class="{% cycle row1,row2 %} {{ i.status }}">
    {% include "manager/tags/row_issue.html" %}
  </tr>
{% endfor %}
<tr style="text-align: left;">
    <td colspan={{ headers|length|add:"2" }}>{% include "paginator.html" %}</td>
</tr>
{% if packages %}
    <tr class="row_packages_header">
        <td colspan={{ headers|length|add:"1" }} style="text-align: left; font-weight: bold; padding: 5px; color:#666; font-size:11px; background:#e1e1e1 url(/media/img/admin/nav-bg.gif) top left repeat-x; border-left:1px solid #ddd; border-bottom:1px solid #ddd;">Упаковки</td>
    </tr>
    {% for p in packages %}
        <tr class="{% cycle row1,row2 %} row_package_{{ p.id }} row_package">
            {% include "manager/tags/row_package.html" %}
        </tr>
    {% endfor %}
{% endif %}
<tr class="alt">
  <td><!-- checkbox --></td>
  {% for val in total_row %}
      <td>
        {% if val %}<b>{{ val|floatformat:2 }}</b>{% else %}{% endif %}
      </td>
  {% endfor %}
  <td><!-- column "delete" --></td>
</tr>
{% endblock %}

{% block after_table %}
<form action="" method="post" id="process-balance-payment-form">
    <br/>
    <p align="right">
        <a class="add_link" href="javascript:void(0)" onclick="new balancePaymentFieldSet(); jQuery('.save_balance_payment_block').show();">Добавить оплату</a>
    </p>
    <div id="balance-payment-form"></div>
    <div class="save_balance_payment_block" style="text-align: right; display: none;">
        <input type="submit" name="save_balance_payment" value="Сохранить" />
        <br/>
        <br/>
    </div>
</form>
<form action="" method="post" id="process-balance-invoice-form">
    <p align="right">
        <a class="add_link" href="javascript:void(0)" onclick="new balanceInvoiceFieldSet(); jQuery('.save_balance_invoice_block').show();">Выставить счёт</a>
    </p>
    <div id="balance-invoice-form"></div>
    <div class="save_balance_invoice_block" style="text-align: right; display: none;">
        <input type="submit" name="save_balance_invoice" value="Сохранить" />
    </div>
</form>
<form action="" method="post" id="issues-process-form">
    <div class="submit-row">
        <input type="submit" onclick="issue();" name="open_invoice_button" value="Отгрузить" />
        <input type="hidden" name="issued" value="1" />
        <input type="hidden" name="issued_orders" value="" />
        <input type="hidden" name="issued_packages" value="" />
    </div>
</form>
{% endblock %}
