{% extends 'manager/index.html' %}
{% load manager_tags %}

{% block menu_shipments %}<a class="menu-active" href="{% url manager_shipments %}">Отгрузки</a>{% endblock %}
{% block menu_index %}<a href="{% url manager_index %}">Заказы</a>{% endblock %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript">
function showPasswordDialog() {
    jQuery("#dialog-form").dialog("open");
    return false;
}
</script>
{% endblock %}

{% block content_title %}
{% include "cp/password.html" %}
<h4>Отгрузка {{ cl.shipment.full_code }}</h4>
{% endblock %}

{% block content_bottom %}
<form action="" method="post" id="process-form">
    <div class="submit-row">
        <input type="submit" onclick="return showPasswordDialog();" value="Отменить отгрузку" />
        <input type="hidden" name="delete_shipment" value="1" />
    </div>
</form>
{% endblock %}
