{% load manager_tags %}
<td align="center"><input type="checkbox" class="select_package" name="select_package_{{ p.id }}" /></td>
{% if 'ponumber' in cl.user_fields %}{% table_td p 'description' p.editable 'editDescriptionPackage' 1 'package_' %}{% endif %}
{% if 'brandgroup' in cl.user_fields %}<td>&nbsp;</td>{% endif %}
{% if 'area' in cl.user_fields %}<td>&nbsp;</td>{% endif %}
{% if 'brand' in cl.user_fields %}<td>&nbsp;</td>{% endif %}
{% if 'part_number' in cl.user_fields %}<td>&nbsp;</td>{% endif %}
{% if 'part_number_superseded' in cl.user_fields %}<td>&nbsp;</td>{% endif %}
{% if 'comment_customer' in cl.user_fields %}<td>&nbsp;</td>{% endif %}
{% if 'created' in cl.user_fields %}{% table_td p 'created_at' 0 '' %}{% endif %}
{% if 'received_office_at' in cl.user_fields %}{% table_td p 'received_at' 0 '' %}{% endif %}
{% if 'quantity' in cl.user_fields %}{% table_td p 'quantity' p.editable 'editQuantityPackage' 1 'package_' %}{% endif %}
{% if 'client' in cl.user_fields %}<td>{{ p.client|default:"" }}</td>{% endif %}
{% if 'description_ru' in cl.user_fields %}<td>&nbsp;</td>{% endif %}
{% if 'description_en' in cl.user_fields %}<td>&nbsp;</td>{% endif %}
{% if 'id' in cl.user_fields %}<td>&nbsp;</td>{% endif %}
{% if 'price_base' in cl.user_fields %}<td>&nbsp;</td>{% endif %}
{% if 'weight' in cl.user_fields %}{% table_td p 'weight' p.editable 'editWeightPackage' 1 'package_' %}{% endif %}
{% if 'delivery' in cl.user_fields %}{% table_td p 'delivery' 0 '' 0 %}{% endif %}
{% if 'price_manager' in cl.user_fields %}{% table_td i 'price_manager' 0 '' 0 %}{% endif %}
{% if 'weight_manager' in cl.user_fields %}{% table_td i 'weight_manager' i.editable 'editWeightManager' %}{% endif %}
{% if 'total_manager' in cl.user_fields %}{% table_td i 'total_manager' 0 '' 0 %}{% endif %}
{% if 'price_sale' in cl.user_fields %}<td>&nbsp;</td>{% endif %}
{% if 'price_discount' in cl.user_fields %}<td>&nbsp;</td>{% endif %}
{% if 'cost' in cl.user_fields %}<td>&nbsp;</td>{% endif %}
{% if 'total_cost' in cl.user_fields %}{% table_td p 'total_cost' 0 '' %}{% endif %}
{% if 'invoice_code' in cl.user_fields %}{% table_td p 'invoice' 0 '' %}{% endif %}
{% if 'status' in cl.user_fields %}{% table_td_status p %}{% endif %}
{% if 'issued_at' in cl.user_fields %}{% table_td p 'issued_at' 0 '' %}{% endif %}
<td>&nbsp;</td>
