{% extends "admin/base.html" %}
{% load i18n admin_tools_menu_tags %}

{% block title %}{{ title }} | {% trans 'Newparts-online.com' %}{% endblock %}

{% block extrastyle %}
{{ block.super }}
{% if user.is_active %}
{% if not is_popup %}
{% admin_tools_render_menu_css %}
{% endif %}
{% endif %}
{% endblock %}

{% block branding %}
<h1 id="site-name">Администрирование</h1>
{% endblock %}

{% block nav-global %}
{% if user.is_active %}
{% if user.is_staff %}
{% admin_tools_render_menu %}
{% else %}
<ul id="navigation-menu">
<li class="menu-item first"><a href="/">Менеджемент</a></li>
</ul>
{% endif %}
{% endif %}
{% endblock %}

