{% extends "admin/base_site.html" %}

{% block breadcrumbs %}
<div class="breadcrumbs">
     <a href="../../../">Главная</a> &rsaquo;
     <a href="../../">PO</a> &rsaquo;
     <a href="../../{{ po.id }}/">{{ po }}</a> &rsaquo;
     Тарифные множители
</div>
{% endblock %}

{% block title %}Установить тарифы для PO{% endblock %}

{% block content %}

<div id="content-main">

<h1>Тарифные множители для {{ po }}</h1>

<form action="" name="set_values" method="post">

<div class="form-row>
<label for="default_value_id">Значение по-умолчанию</label>
<input type="text" size="5" id="default_value_id" name="default_value" value="{{ tarif.default_value }}" />
<br /><br />
</div>

<table>
<thead>
<tr>
<th>Производитель</th>
<th>Значение тарифного множителя</th>
</tr>
</thead>
<tbody>
{% for tc in tcs %}
<tr>
<td>
{{ tc.brand }}
</td>
<td>
<input type="text" name="{{ tc.id }}" value="{{ tc.value }}" size="5" />
</td>
</tr>
{% endfor %}
</tbody>
</table>
<div class="submit-row">
<input type="submit" name="submit" value="Сохранить" class="default" />
<input type="reset" name="submit" value="Отмена" onclick="document.location.href='../../'" class="default" />
</div>
</form>
</div>

{% endblock %}