{% extends 'admin/change_form.html' %} 

{% block extrahead %}
{{ block.super }}
<style type="text/css">
.inline-group .tabular tr.has_original td {
    padding-top: 5px;
}
</style>

{% endblock %}


{% block after_related_objects %}
{% comment %}
<fieldset class="module aligned">
<h3>Доставка</h3>
{% for ps in original.price_settings %}
<div class="form-row">
<label for="id_delivery_{{ ps.area.id }}">{{ ps.area.title }}</label>
<input type="text" id="id_delivery_{{ ps.area.id }}" name="ps_delivery_{{ ps.area.id }}" size="10" value="{{ ps.delivery|default:'' }}" />
</div>
{% endfor %}
<h3>Множитель для базовой цены</h3>
{% for ps in original.price_settings %}
<div class="form-row">
<label for="id_multiplier_{{ ps.area.id }}">{{ ps.area.title }}</label>
<input type="text" id="id_multiplier_{{ ps.area.id }}" name="ps_multiplier_{{ ps.area.id }}" size="10" value="{{ ps.multiplier|default:'' }}" />
</div>
{% endfor %}
</fieldset>
{% endcomment %}
{% endblock %}
