{% extends 'client_base.html' %}

{% block page_title %}Баланс{% endblock %}
{% block page_content %}
<form action="" name="select_period" method="post">
<fieldset>
{{ select_period_form }}
</fieldset>
<div class="submit-row">
<input type="submit" name="submit" value="Показать" />
</div>
</form>
<p>&nbsp;</p>
<table width="100%">
 <thead>
  <tr>
    <th>Счета</th>
    <th>Платежи</th>
  </tr>
 </thead>
 <tbody>
  <tr>
    <td>
    <table>
    {% for i in debet %}
    <tr>
    <td>{{ i.date }}</td>
    <td>{{ i.comment }}</td>
    <td>{{ i.sum }}</td>
    </tr>
    {% endfor %}
    </table>
    </td>
    <td>
    <table>
    {% for i in debet %}
    <tr>
    <td>{{ i.date }}</td>
    <td>{{ i.comment }}</td>
    <td>{{ i.sum }}</td>
    </tr>
    {% endfor %}
    </table>
    </td>
  </tr>
 </tbody>
</table>
{% endblock %}