{% extends 'client_base.html' %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/hangelists.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/forms.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/dashboard.css" />

{% endblock %}

{% load lib_tags %}

{% block page_title %}Мои заказы{% endblock %}
{% block page_content %}
<div class="module filtered" id="changelist">
<div id="toolbar"><form id="changelist-search" action="" method="get">
<div><!-- DIV needed for valid HTML -->
<label for="searchbar">&nbsp;</label>
<input type="text" size="40" name="q" value="" id="searchbar" />
<input type="submit" value="Вперёд" />
<p class="help">&nbsp;&nbsp;Поиск по OEM #, Производителю запчасти</p>


</div>
</form>
</div>
<script type="text/javascript">document.getElementById("searchbar").focus();</script>
<p>&nbsp;</p>
<table width="98%">
	<thead>
	<th>PO #</th>
    {% table_header_sort headers %}
    </thead>
	<tbody>
	{% for i in orders %}
	<tr class="{% cycle row1,row2 %}">
	<td>{{ i.get_numbered_po }}</td>
	<td>{{ i.created|date:"m/d/Y" }}</td>
	<td>
		{{ i.year }} <br />
		{{ i.car_maker }}<br />
		{{ i.car_model }}<br />
		{{ i.engine_volume }}</td>
	<td>{{ i.description }}</td>
	<td>{% if i.side %}{{ i.side }}{% else %}-{% endif %}</td>
	<td>{{ i.brand.name }}</td>
	<td>
	{% ifequal i.status 'superseded' %}<s>{% endifequal %}
	{{ i.part_number }}
	{% ifequal i.status 'superseded' %}</s>{% endifequal %}
	</td>
	<td>
	{% if i.part_number_superseded %}
	{{ i.part_number_superseded }}<br />
	<a class="add_link" href="/client/order/superseded/accept/{{ i.id }}">Принять замену</a>
	<a class="delete_link" href="/client/order/superseded/decline/{{ i.id }}">Отказаться</a>
	{% else %}
	-
	{% endif %}
	</td>
	<td>
	{% ifnotequal i.price 0.00 %}
	{{ i.price }}
	{% else %}
	-
	{% endifnotequal %}
	
	<td>{{ i.quantity }}</td>
	<td>
	{{ i.quantity_ship }}
	</td>
	<td>{{ i.status_verbose }}</td>
	<td>{{ i.status_modified|date:"m/d/Y" }}</td>
	</tr>
	{% endfor %}

	</tbody>
	</table>

{% endblock %}