{% extends 'client_base.html' %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/changelists.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/forms.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/dashboard.css" />

{% endblock %}

{% load lib_tags %}

{% block page_title %}Мои заказы{% endblock %}
{% block page_content %}
<div class="" id="changelist">
<form method="{{ filter.method }}">
<input type="hidden" name="qs_filter" value="1">
<input type="submit" value="Фильтр">
<input type="submit" name="qs_filter_clear" value="Очистить">
Количество записей на странице: 
<select onchange="location.href='{{ request.path }}?items_per_page=' + this.value">
<option value="20"{% ifequal items_per_page 10 %} selected {% endifequal %}>20</option>
<option value="50"{% ifequal items_per_page 15 %} selected {% endifequal %}>50</option>
<option value="100"{% ifequal items_per_page 20 %} selected {% endifequal %}>100</option>
</select>

<div class="module" id="changelist">
<table>
	<thead>
	<th>PO #</th>
    {% table_header_sort headers %}
    <tr{% if filter.is_set %} style="border: solid 2px green;"{% endif %}>
    <td><nobr>{{ filter.form.po__po }} {{ filter.form.ponumber }}</nobr></td>
    <td><!-- date --></td>
    <td><!-- auto --></td>
    <td>{{ filter.form.description__contains }}</td>
    <td>{{ filter.form.side }}</td>
    <td>{{ filter.form.brand__name__contains }}</td>
    <td>{{ filter.form.part_number__contains }}</td>
    <td>{{ filter.form.part_number_superseded__contains }}</td>
    <td><nobr>{{ filter.form.price__gte }} {{ filter.form.price__lte }}</nobr></td>
    <td><!-- QORD --></td>
    <td><!-- QSHIP --></td>
    <td>{{ filter.form.status }}</td>
    <td><!-- status date --></td>
    </tr>
    </thead>
	<tbody>
	{% for i in items %}
	<tr class="{% cycle row1,row2 %}">
	<td>{{ i.get_numbered_po }}</td>
	<td>{{ i.created|date:"m/d/Y" }}</td>
	<td>
		{{ i.year }} <br />
		{{ i.car_maker }}<br />
		{{ i.car_model }}<br />
		{{ i.engine_volume }}</td>
	<td>{{ i.description }}</td>
	<td>{% if i.side %}{{ i.side }}{% else %}-{% endif %}</td>
	<td>{{ i.brand.name }}</td>
	<td>
	{% ifequal i.status 'superseded' %}<s>{% endifequal %}
	{{ i.part_number }}
	{% ifequal i.status 'superseded' %}</s>{% endifequal %}
	</td>
	<td>
	{% if i.part_number_superseded %}
	{{ i.part_number_superseded }}<br />
	<a class="add_link" href="/client/order/superseded/accept/{{ i.id }}">Принять замену</a>
	<a class="delete_link" href="/client/order/superseded/decline/{{ i.id }}">Отказаться</a>
	{% else %}
	-
	{% endif %}
	</td>
	<td>
	{% ifnotequal i.price 0.00 %}
	{{ i.price }}
	{% else %}
	-
	{% endifnotequal %}
	
	<td>{{ i.quantity }}</td>
	<td>
	{{ i.quantity_ship }}
	</td>
	<td>{{ i.status_verbose }}</td>
	<td>{{ i.status_modified|date:"m/d/Y" }}</td>
	</tr>
	{% endfor %}

	</tbody>
	</table>
</div>
{% include 'paginator.html' %}
{% endblock %}