{% extends 'client_base.html' %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/changelists.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/forms.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/dashboard.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/qs_filter.css" />

{% endblock %}

{% load lib_tags %}

{% block page_title %}Мои заказы{% endblock %}
{% block page_content %}
<div class="" id="changelist">
<form method="{{ filter.method }}">
<input type="hidden" name="qs_filter" value="1">
<input type="submit" value="Фильтр">
<input type="submit" name="qs_filter_clear" value="Очистить">
Количество записей на странице: 
<select onchange="location.href='{{ request.path }}?items_per_page=' + this.value">
<option value="20"{% ifequal items_per_page 20 %} selected {% endifequal %}>20</option>
<option value="50"{% ifequal items_per_page 50 %} selected {% endifequal %}>50</option>
<option value="100"{% ifequal items_per_page 100 %} selected {% endifequal %}>100</option>
</select>
<div class="module" id="changelist">
<table>
	<thead>
    {% table_header_sort headers %}
    <tr{% if filter.is_set %} style="border: solid 2px green;"{% endif %}>
    <td></td>
    <td>{{ filter.form.area__title__contains }}</td>
	<td>{{ filter.form.brand__title__contains }}</td>
    <td>{{ filter.form.part_number__contains }}</td>
    <td></td>
    <td>{{ filter.form.manager__username__contains }}</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    </tr>
    </thead>
	<tbody>
	{% for i in items %}
	<tr class="{% cycle row1,row2 %}">
		<td>{{ i.get_po_verbose }}</td>
		<td>{{ i.area }}</td>
		<td>{{ i.brand }}</td>
		<td>{{ i.part_number }}</td>
		<td>{{ i.quantity }}</td>
		<td>{{ i.manager }}</td>
		<td>{{ i.total_cost|default:"" }}</td>
		<td>{{ i.get_status_verbose }}</td>
	</tr>
	{% endfor %}

	</tbody>
	</table>
</div>
{% include 'paginator.html' %}
{% endblock %}