{% extends 'client_base.html' %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript">
function setBrand(value) {
	document.getElementById('id_brand').value = value;
}
</script>

{% endblock %}

{% block page_title %}Новый заказ{% endblock %}

{% block page_content %}

<h3>Заказ #{{ po }}</h3>
<h3 class="date">{% now "d.M.Y" %}}</h3>

<fieldset>
<legend>Добавить позицию в заказ</legend>

<table width="100%">
<tr>

<td width="30%" valign="top">
<table width="99%">

<tr>
<td width="20%">Производитель</td>
<td width="80%">
{{ form.car_maker }}
</td>
</tr>

<tr>
<td width="20%">Модель</td>
<td width="80%">
{{ form.car_model }}
</td>
</tr>

<tr>
<td width="20%">Объем двигателя</td>
<td width="80%">{{ form.engine_volume }}</td>
</tr>

<tr>
<td width="20%">Год выпуска</td>
<td width="80%">
{{ form.year }}
</td>
</tr>

</table>
</td>

<td width="50" valign="top">
<table width="99%">
<tr>
<td width="20%">Производитель запчасти &nbsp;&nbsp;</td>
<td width="80%">
{{ form.brand }}<a class="help" href="javascript:void(0);" onclick="showPopUp('/client/help/brands.html',200, 600, 'brands',1)">Весь список</a>
</td>
</tr>

<tr>
<td width="20%">Описание</td>
<td width="80%">{{ form.description }}</td>
</tr>

<tr>
<td width="20%">Side</td>
<td width="80%">{{ form.side }}</td>
</tr>

<tr>
<td width="20%">VIN #</td>
<td width="80%">{{ form.part_number }}</td>
</tr>

<tr>
<td width="20%">Количество</td>
<td width="80%"><input type="text" value="1" size="5"></td>
</tr>

</table>
</td>

</tr>
</table>

</fieldset>

<fieldset>
<legend>Позиции текущего заказа</legend>
<table cellpadding="5">
<thead>
<th>Авто</th>
<th>Описание</th>
<th>Производитель</th>
<th>Side</th>
<th>VIN #</th>
<th>Количество</th>
<th>Удалить</th>

</thead>

<tbody>

<tr class="row1">
<td>Dodge Caravan 2001 (3.3)</td>
<td>блок переключателей</td>
<td>mopar</td>
<td></td>
<td>UQ651L5AA</td>
<td><input type="text" size="3" value="1"></td>
<td><input type="checkbox" size="1"></td>
</tr>
</tbody>

</table>
</fieldset>

<div class="submit-row">
<button>Отправить заказ</button>&nbsp;&nbsp;&nbsp;<button class="delete">Удалить отмеченные</button>
</div>

{% endblock %}