{% extends 'client_base.html' %}
{% load forms %}


{% block extrahead %}
{{ block.super }}

<script type="text/javascript" src="{{ MEDIA_URL }}js/mootools.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/mootools/dynamicforms.js"></script>
<script type="text/javascript">

var current = null;

function setBrand(value) {
	document.getElementById('id_brand.'+current).value = value;
	current = null;
}

function showList(e)
{
	id = e.id;
	current = id.split('.')[1]
	showPopUp('/client/help/brands.html',200,600,'brands',1);
}


var PageForm = Form.extend({
    initialize: function(value) {
    this.parent({{ page_template }}, value);
    this.fieldset = new Element('fieldset');
    this.fieldset.setProperty('class', 'module aligned');
    this.fieldset.innerHTML = this.html;
    $('page-forms').adopt(this.fieldset);
    }
});
Window.onDomReady(function() {

    {% for page in page_data %}
    new PageForm({{ page }});
    {% endfor %}

});

</script>

{% endblock %}

{% block page_title %}Заказ{% endblock %}

{% block page_content %}
<div class="system-message">
<p>
Для добавления позиции в заказ нажмите "Добавить позицию". 
Для удаления позиции из заказа оставьте поле "OEM #" пустым. Заказы с пустым полем "OEM #" не учитываются при сохранении.
Ошибки заполенения формы будут показаны здесь же.
</p>
</div>
<h3 class="date">{{ order.created|date:"d.m.Y" }}</h3>
<form action="" method="post">

<div class="error">{{ message }}</div>

<div id="page-forms"></div>


<p align="right"><a class="add_link" href="javascript:void(0)" onclick="new PageForm();">Добавить позицию</a></p>


<div class="submit-row">
<input type="submit" name="save_order" value="Отправить заказ" />&nbsp;&nbsp;&nbsp;
</div>
</form>

{% endblock %}