{% extends 'client_base.html' %}
{% load i18n %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/changelists.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/forms.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/dashboard.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/qs_filter.css" />


<script type="text/javascript">
function onsubmit_basket_form() {
  if(document.pressed == 'update') {
   document.basket_form.action ="{% url client_basket_update %}";
  }
  if(document.pressed == 'order') {
    document.basket_form.action ="{% url client_basket_order %}";
  }
  return true;
}
</script>

{% endblock %}

{% block page_title %}Поиск{% endblock %}

{% block page_content %}
<div id="divSearch" style="text-align: left; min-width: 850px;">
  <div style="width:30%" class="aligned">
    <form method="post" id="formSearch" action="">
      <div class="form-row">
        {{ form.maker.errors }}
        <label for="id_maker">Выберите марку* :</label> {{ form.maker }}
      </div>
      <div class="form-row">
        {{ form.part_number.errors }}
        <label for="id_part_number">Введите номер* :</label> {{ form.part_number }}
      </div>
      <div class="submit-row">
      <input type="submit" value="Искать" class="default" /></div>

    </form>
  </div>
  <br/>
  {% if msg or data %}<h3>Результаты поиска</h3>{% endif %}
  {% if msg %}<h4>{{ msg|default:"" }}</h4>{% endif %}
  {% if data %}
    <table id="dataTable" class="dataTable">
      <thead>
        <tr class="row1">
            <th><b>Брэнд</b></th>
            <th><b>Артикул</b></th>
            <th><b>Наименование</b></th>
            <th><b>Аббревиатура</b></th>
            <th><b>Стоимость доставки*</b></th>
            <th><b>Цена</b></th>
            <th><b>Ваша Цена</b></th>
            <th><b>Цена невозвратной детали**</b></th>
            <th><b>Вы экономите</b></th>
            <th><b>Партия</b></th>
            <th><b>Наличие</b></th>
            <th><b>Срок доставки</b></th>
            <th><b>Дата обновления</b></th>
            <th class="order-button-wrapper"></th>
        </tr>
      </thead>
      <tbody>
        {% for found in data %}
          <form action="{% url client_basket_add %}" method="post" id="foundsForm{{ forloop.counter }}">
            {% if found.sub_chain %}
            <tr class="{% cycle 'row1' 'row2' %}">
              <td colspan=15 style="text-align: left;">{{ found.sub_chain }}</td>
            </tr>
            {% endif %}
            <tr class="{% cycle 'row1' 'row2' %}">
              {% if found.MSRP %}
                <input type="hidden" name="area" value="{{ found.brandname }}" />
                <input type="hidden" name="brandgroup" value="{{ found.brandgroup }}" />

                <td>
                  {{ maker_name }}
                  <input type="hidden" name="brand_name" value="{{ maker_name }}" />
                </td>

                <td>
                  {{ found.partnumber }}
                  <input type="hidden" name="part_number" value="{{ found.partnumber }}" />
                </td>

                <td>
                    {{ found.description_ru|default:"" }}
                    <input type="hidden" name="description_ru" value="{{ found.description_ru }}" />
                </td>

                <td>
                    {{ found.description|default:"" }}
                    <input type="hidden" name="description" value="{{ found.description }}" />
                </td>

                <td>
                    {% if found.delivery_coef %}{{ found.delivery_coef }}${% endif %}
                </td>

                <td>
                  {{ found.MSRP }}$
                  <input type="hidden" name="msrp" value="{{ found.MSRP }}" />
                </td>

                <td>
                  <b>{{ found.your_price }}$</b>
                  <input type="hidden" name="user_price" value="{{ found.your_price }}" />
                </td>

                <td>
                  {{ found.core_price }}$
                  <input type="hidden" name="core_price" value="{{ found.core_price }}" />
                </td>

                <td>
                  {{ found.your_economy}}$ или {{ found.your_economy_perc}}%
                </td>

                <td>
                  {% if found.party and found.party > 1 %}{{ found.party }} шт.{% endif %}
                  <!-- <input type="hidden" name="party" value="{{ found.party }}" /> -->
                  <input type="hidden" name="quantity" value="{{ found.party|default:1 }}" />
                </td>

                <td>
                  {% if found.available %}{{ found.available }} шт.{% endif %}
                </td>

                <td>
                  {% if found.delivery_period %}{{ found.delivery_period }} дн.{% endif %}
                </td>

                <td>
                  {{ found.updated_at|date:"d N Y" }}
                </td>

                <td class="order-button-wrapper" style="width: 80px;">
                  <a class="add_link" href="javascript: void(0);" onclick="$('#foundsForm{{ forloop.counter }}').submit();">
                    В корзину
                  </a>
                </td>

              {% else %}
                <td colspan=20>Не поставляется</td>
              {% endif %}
            </tr>
          </form>
        {% endfor %}
        <tr>
          <td colspan=20 style="border: none; text-align: left;">
            <b>**</b>будет добавлена к стоимости заказанной позиции
          </td>
        </tr>
      </tbody>
    </table>
  {% endif %}
<div class=aligned">
{% if basket_items %}
<br/>
<h3>Корзина</h3>
<form method="post" onsubmit="return onsubmit_basket_form();" id="id_basket_form" name="basket_form">
<table class="dataTable" width="100%;">
<thead>
<tr class="row1">
<th><b>Марка</b></th>
<th><b>Номер</b></th>
<th><b>Описание ENG</b></th>
<th><b>Описание RUS</b></th>
<th><b>Комментарий</b></th>
<th><b>Цена за ед.</b></th>
<th><b>Количество</b></th>
<th><b>Стоимость</b></th>
<th></td>
</tr>
</thead>
<tbody>
{% for item in basket_items %}
<tr class="{% cycle 'row1' 'row2' %}">
<td>{{ item.brand_name }}</td>
<td>{{ item.part_number }}</td>
<td>{{ item.description }}</td>
<td><textarea name="descriptionru_{{item.id}}" id="" cols="15" rows="2">{{ item.description_ru|default:"" }}</textarea></td>
<td><textarea name="comment1_{{item.id}}" id="" cols="15" rows="2">{{ item.comment1|default:"" }}</textarea></td>
<td>{{ item.get_price }}$</td>
<td><input size="5" type="text" name="quantity_{{item.id}}" value="{{ item.quantity }}" /></td>
<td>{{ item.get_price_total }}$</td>
<td style="width: 80px; text-align: left;"><a class="delete_link" href="{% url client_basket_delete item.id %}">Удалить</a></td>
</tr>
{% endfor %}
<tr class="alt"><th colspan="7" style="text-align: right;"><b>Общая стоимость:</b></th>
<th colspan="1"><b>{{ basket_price_sum }}</b></th>
<td style="width: 125px; text-align: left;"><a class="delete_link" href="{% url client_basket_clear %}">Очистить корзину</a></td>
</tr>
</tbody>
</table>
<div class="submit-row">

<input type="submit" name="operation" onclick="document.pressed='update'" value="Обновить" />
<input type="submit" class="default" name="operation" onclick="document.pressed='order'" value="Заказать*" />
&nbsp;&nbsp;&nbsp;
</div>
<p class="help">* - перед заказом заполните, пожалуйста, поле "Описание RUS" на русском языке</p>
</form>
{% endif %}
</div>
</div>
{% endblock %}

