{% extends 'client_base.html' %}
{% load i18n %}

{% block page_title %}Поиск{% endblock %}

{% block content %}
<div id="divSearch" style="text-align: left; min-width: 800px;">
    <form method="POST" id="formSearch">
        {{ form.maker.errors }}<b>{{ form.maker.label }}* :</b> {{ form.maker }}<br/><br/>
        {{ form.part_number.errors }}<b>{{ form.part_number.label }}* :</b> {{ form.part_number }}
        <br/><br/>
        <input type="submit" value="Search" />
    </form>
    <br/>
    <h2>{{ msg|default:"" }}</h2>
    {% if found %}
    <form id="formFound">
        <table id="dataTable" width="750px">
            <tr>
                <td><b>Item Number</b></td>
                <td><b>Description</b></td>
                <td><b>Цена</b></td>
                <td><b>Ваша Цена</b></td>
                <td><b>Вы экономите</b></td>
            </tr>
            <tr>
                <td>{{ found.partnumber }}</td>
                <td>{{ found.description }}</td>
                <td>{{ found.MSRP }}$</td>
                <td>{{ found.your_price }}$</td>
                <td>{{ found.your_economy}}$ или {{ found.your_economy_perc}}%</td>
            </tr>
        </table>
    </form>
    {% endif %}
</div>
{% endblock %}