{% extends 'base.html' %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/login.css" />
{% endblock %}
{% block header %}
<div id="header">
    <div id="branding">
        <h1 id="site-name">Automototrade.info</h1>
    </div>
    {% block global_menu %}{% endblock %}
</div> 
{% endblock %}
{% block content %}
<div id="login">
<div id="error" style="color:red">{% if message %}{{ message }}{% endif %}</div>
<br />
<form action="" method="post" class="niceform">
        <label for="textinput">Логин:</label><br />
        <input type="text" id="textinput" name="username" size="40" value="" /><br /><br />
        <label for="passwordinput">Пароль:</label><br />
        <input type="password" id="passwordinput" name="password" value size="40" value="" /><br />
        <br /><br />
        <input type="submit" value="Вход" />
</form>
</div>
{% endblock %}