{% extends 'base.html' %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}js/jquery-autocomplete/jquery.autocomplete.css" />
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-autocomplete/lib/jquery.bgiframe.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-autocomplete/lib/jquery.dimensions.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-autocomplete/jquery.autocomplete.js"></script>

{% endblock %}
{% block header %}
{% load menu %}
{% client_menu current_action %}
{% endblock %}
{% block content %}

<div id="main">
<h1>{% block page_title %}{% endblock %}</h1>
{% block page_content %}{% endblock %}
</div>
{% endblock %}