{% extends 'base.html' %}
{% load cp_messages %}
{% block extrahead %}

<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}js/jquery-autocomplete/jquery.autocomplete.css" />

<script type="text/javascript">
jQuery.noConflict();
</script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-autocomplete/lib/jquery.bgiframe.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-autocomplete/lib/jquery.dimensions.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-autocomplete/jquery.autocomplete.js"></script>

<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/admin_table.css">
{% endblock %}

{% block global_title %}Клиентская часть{% endblock %}
{% block global_menu %}
    <ul>
        <li><a href="/client/search/">Поиск</a></li>
        <li><a href="/client/">Мои заказы</a></li>
    </ul>
{% endblock %}

{% block content %}
<div id="main">
<h1>{% block page_title %}{% endblock %}</h1>

{% if messages %}
    <ul class="messagelist">{% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
{% endfor %}</ul>
{% endif %}
{% block page_content %}{% endblock %}
</div>
{% endblock %}

