{% extends 'base.html' %}
{% load cp_messages %}
{% load cp_tags %}
{% block extrahead %}

<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}js/jquery-autocomplete/jquery.autocomplete.css" />

<script type="text/javascript">
jQuery.noConflict();
</script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-autocomplete/lib/jquery.bgiframe.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-autocomplete/lib/jquery.dimensions.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-autocomplete/jquery.autocomplete.js"></script>

<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/admin_table.css">
{% endblock %}

{% block global_title %}Клиентская часть{% endblock %}
{% block global_menu %}
    <ul>
        <li><a class="{% navactive request 'client_search' %}" href="{% url client_search %}">Поиск</a></li>
        <li><a class="{% navactive request 'client_index' %}" href="{% url client_index %}">Мои заказы</a></li>
        {% block shipments_menu %}<li><a class="{% navactive request 'client_shipments' %}" href="{% url client_shipments %}">Мои отгрузки</a></li>{% endblock %}
    </ul>
{% endblock %}

{% block content %}
<div id="main">
<h1>{% block page_title %}{% endblock %}</h1>

{% block page_content %}{% endblock %}
</div>
{% endblock %}

