{% extends 'base.html' %}
{% load cp_tags %}
{% block global_title %}Менеджемент{% endblock %}

{% block extrahead %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.8.7/ui/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}js/jquery-ui-1.8.7/themes/base/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/qs_filter.css" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/admin_table.css">
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/forms.css">
    {{ block.super }}
    <script>var ajax_loader_img_path = '{{ MEDIA_URL }}img/icons/ajax-loader.gif';</script>
{% endblock %}

{% block global_menu %}
    <ul>
        <li>{% block menu_order %}<a href="{% url order %}">Новый заказ</a>{% endblock %}</li>
        <li>{% block menu_index %}<a href="{% url cp_index %}">Заказы</a>{% endblock %}</li>
        <li>{% block menu_groups %}<a href="{% url groups %}">По группам</a>{% endblock %}</li>
        <li>{% block menu_invoices %}<a href="{% url invoices %}">Инвойсы</a>{% endblock %}</li>
        <li>{% block menu_issues %}<a href="{% url issues %}">К выдаче</a>{% endblock %}</li>
        <li>{% block menu_shipments %}<a href="{% url shipments %}">Отгрузки</a>{% endblock %}</li>
        <li>{% block menu_balance %}<a href="{% url balance %}">Баланс</a>{% endblock %}</li>
        <li>|</li>
        <li><a href="/admin/">Администрирование</a></li>
    </ul>
{% endblock %}

