{% ifnotequal paginator.pages 1 %}
<p class="paginator">&nbsp;
		{% if paginator.has_p %}
		    <a href="{{ paginator.p_link }}">&#8592;</a>&nbsp;
		{% endif %}
		    Страница {{ paginator.current }} из {{ paginator.pages }}&nbsp;
		{% if paginator.has_n %}
		    <a class="showall" title="Следующая страница" href="{{ paginator.n_link }}">&#8594;</a>&nbsp;&nbsp;&nbsp;&nbsp;
		{% endif %}
		{% for group in paginator.windowed_page_links %}
		{% for p in group %}
		{% if not p.current %}
		<a href="{{ p.link }}">{{ p.page }}</a>&nbsp;
		{% else %}
		<span class="this-page">{{ p.page }}</span>&nbsp;
		{% endif %}
		{% endfor %}{% if not forloop.last %}...{% endif %}
		{% endfor %}
</p>
{% endifnotequal %}

