{% extends 'admin/change_form.html' %}
{% block extrahead %}
{{ block.super }}
<script type="text/javascript">
$ = django.jQuery;

var brand_group_base_url = "{% url admin:data_brandgroup_changelist %}";

function build_fields_string() {
  var value = new Array();
  $("input[name=order_item_fields_selector]").each(function(){
    if($(this).attr('checked')) {
      value.push($(this).val());
    }
  });
  $("#id_order_item_fields").val(value.join(","));
}

function populate_area_boxes() {
  var id = $(this).attr('id');
  var row = id.match(/(\d*)-brand_group$/);
  if(row) {
     var row_id = row[1]; 
     var brand_group_id = $(this).val();
     $.ajax({
      url: brand_group_base_url + brand_group_id + "/areas/",
      dataType: 'json', 
      success: function (data) {
        area_select = $("#id_clientgroupdiscount_set-" + row_id + "-area");
        area_select.find('option').remove().end();
        for(i in data) {
          opt = data[i];
          area_select.append('<option value="' + opt.pk + '">'+ opt.fields.title +'</option>');
        }
      }
     });
  }
}

$(document).ready(function(){
  $("input[name=_addanother]").remove();
  $("input[name=_save]").remove();
  $("input[name=_continue]").addClass("default");

  {% if add %}
  $("#clientgroupdiscount_set-group").css("display","None");
  {% endif %}
  
  $("select[id^=id_clientgroupdiscount_set]").live('change', populate_area_boxes);
    
});



</script>
{% endblock %}

{% block after_field_sets %}
<script type="text/javascript">
  {% if change %}
  $("#id_order_item_fields").parent("div").css("display", "none");
  {% endif %}
</script>
{% if change %}
<div class="module aligned">
<h2>Настройки отображения колонок</h2>
<div>
{% for val, label, checked in client_order_item_fields %}
<input type="checkbox" {% if checked %}checked="checked"{% endif %} name="order_item_fields_selector" onclick="build_fields_string()" value="{{ val }}">&nbsp;{{ label }}<br />
{% endfor %}
</div>
</div>
{% endif %}

{% endblock %}

