{% extends 'admin/change_form.html' %}
{% load i18n %}
{{ block.super }}
<script type="text/javascript">
$ = django.jQuery;

function build_fields_string() {
  var value = new Array();
  $("input[name=order_item_fields_selector]").each(function(){
    if($(this).attr('checked')) {
      value.push($(this).val());
    }
  });
  $("#id_order_item_fields").val(value.join(","));
}

$(document).ready(function(){
  $("input[name=_addanother]").remove();
  $("input[name=_save]").remove();
  $("input[name=_continue]").addClass("default");

  {% if add %}
  $("#discount_set-group").remove();
  {% endif %}

  {% if change %}
  $("#id_order_item_fields").css("display", "none");
  {% endif %}

});

