{% extends 'admin/change_form.html' %}
{% load i18n %}
{% block extrahead %}
{{ block.super }}
<script type="text/javascript">
$ = django.jQuery;

function build_fields_string() {
  var value = new Array();
  $("input[name=order_item_fields_selector]").each(function(){
    if($(this).attr('checked')) {
      value.push($(this).val());
    }
  });
  $("#id_userprofile_set-0-order_item_fields").val(value.join(","));
}

$(document).ready(function(){
  $("input[name=_addanother]").remove();
  $("input[name=_save]").remove();
  $("input[name=_continue]").addClass("default");

  {% if add %}
  $("#discount_set-group").remove();
  {% endif %}

  {% if change %}
  $("#id_userprofile_set-0-order_item_fields").parent("div").css("display", "none");
  {% endif %}

});
</script>
{% endblock %}

{% block after_field_sets %}
<div class="form-row">
<label>Настройки отображения колонок</label>
<div>
{% for val, label, checked in client_order_item_fields %}
<input type="checkbox" {% if checked %}checked="checked"{% endif %} name="order_item_fields_selector" onclick="build_fields_string()" value="{{ val }}">&nbsp;{{ label }}<br />
{% endfor %}
</div>
</div>
{% endblock %}

